/* START boostrap modal header coloring */
/* CSS used here will be applied after bootstrap.css */
.modal-header-success {
    color:#fff;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
}
.modal-header-warning {
	color:#fff;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
}
.modal-header-danger {
	color:#fff;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
}
.modal-header-info {
    color:#fff;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
}
.modal-header-primary {
	color:#fff;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
}

#commonModalLabel{
    position: relative;
    padding-left:35px;
}
#commonModalLabel:before{
    content: "\f058";
    font-family: FontAwesome;
    position:absolute;
    left:0;
    top:-10px;
    font-size:31px;
}
@-moz-document url-prefix() {/* Firefox only hack */
    #commonModalLabel:before{
        top:-8px;
    }
}

.info #commonModalLabel:before{
    content: "\f05a";
}
.warning #commonModalLabel:before{
    content: "\f071";
}
.error #commonModalLabel:before{
    content: "\f06a";
}
.confirm #commonModalLabel:before{
    content: "\f05a";
}

/* EDN boostrap modal header coloring */

.preline{white-space: pre-line;}
.ellipsis{
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

.btn-black{
    color: #fff;
    background-color: #333;
    /*border-color: #555;*/
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black{ color: #fff; background-color: #111; border-color: #222; }

.with-errors{display:none;}
.has-error .with-errors{display:block;}

/* remove dotted outline 
a:hover{outline:0;}
a:active, a:focus{outline:0;text-decoration: none;}
input::-moz-focus-inner{outline:0;}
object, embed, button{outline:0;}
*/
ul, ol{
    list-style: none;
    margin:0;
    padding:0;
}
body{
    
}

#ajax-loading .modal-backdrop.in{
    opacity: 0.6;
}
#ajax-loading .modal{
    display: table;
    width:100%;
    height:100%;
}
#ajax-loading .modal .content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#ajax-loading .modal .content p{
    max-width:500px;
    margin:10px auto;
    color: #fff;
}


.paging-al,
.block-loading{/* paging ajax loading */
    display: none;
    /*
    position: absolute;
    bottom:0;
    */
    width:100%;
    height:50px;
    background:rgba(0,0,0,0.2) url(../loading.gif) no-repeat center center;
}

/* input field clearable x button */
.clearable{
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  /*border: 1px solid #999;*/
  padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}

.icount{
    cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/closedhand.cur), default !important;;
    border:8px solid transparent;
}
.icount .badge{
    background-color:red;
}

.fileinput-button {
    display: block;
    overflow: hidden;
    position: relative;
}
.dropzone .fileinput-button:hover{
    text-decoration: underline;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px !important;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/* theme for file upload drop area */
.dropzone{
    min-height:85px;
    background-color: #666;
    position: relative;
    padding-bottom:70px;
    /*padding: 100px 20px;*/
}
.dropzone .draggable{display:none;}
.dropzone.has-advanced-upload{
    outline: 2px dashed #aaa;
    outline-offset: -5px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.dropzone.has-advanced-upload .draggable{display:inline-block;}
.dropzone.is-dragover{
    outline-offset: -10px;
    outline-color: #666;
    background-color: #fff;
}

/* check scrollbar width function use, way the hell off screen */
#scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
/* mousedown drag selector css */
#selector, .selector{/* .selector is used and appended within scope */
    display:none;
    position:absolute;
    border:1px solid #2F0050;
    background:rgba(47, 0, 80, 0.5);
}



#hd{
}
#bd{
}
#ft{
}

#toTop{
    display: none;
    background:#fff;
    border:1px solid #ccc;
    width:70px;
    height:70px;
    border-radius:35px;
    position:fixed;
    bottom:100px;
    right:10%;
    cursor: pointer;
    z-index:999;
    color:#B28850;
} 
#toTop:before{
    content: "\f106";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    font-size: 42px;
    position: absolute;
    top:-2px;
    left:20px;
}
#toTop:after{
    content: "頁首";
    position:absolute;
    bottom:12px;
    left:22px;
    font-size:12px;
}

#drag-selection .bd li{
    float:left;
    margin:5px;
    background:pink;
    width:80px;
    height:80px;
    cursor: pointer;
}

#drag-selection .bd li.normalDrag{
    border: 3px solid #017be2;
}









